<div class="mt-4 p-5 rounded">
    <h1>Shopping cart developed with <i class="fa-solid fa-heart"></i> using Node.js and Bootstrap </h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas omnis quidem est, molestiae dolores nam dicta vitae ipsum perspiciatis sunt praesentium laborum nesciunt neque provident alias. Distinctio delectus harum quas?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum reprehenderit, nihil laboriosam laudantium minima assumenda ducimus quidem aliquid dolorem. Vitae voluptatibus dolor deserunt similique minima, perspiciatis numquam asperiores architecto explicabo.</p>
   <a href="/cart" class="btn btn-primary btn-lg">Test the shopping cart!</a>
    <a href="https://github.com/daniela-rodga" class="btn btn-primary btn-lg">Check out my Git profile!</a>
    
</div>